@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
main {
    font-family: 'Mulish', sans-serif;
}

h1 {
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 70px;
}

h2 {
    background-color: black;
    color: #fff;
    font-size: 30px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
    background-size: cover;
    display: inline-block;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    background-color: red;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.section-item a {
    color: #faf6f7;
    text-decoration: none;
    transition: color 0.5s;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

img {
    float: right;
    border-radius: 50%;
}

footer {
    justify-content: center;
    padding: 30px;
    background-color: red;
}

.front {
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 50px;
}

.foot {
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.contacts {
    display: inline-block;
}

.aboutme {
    display: inline-block;
    height: auto;
}

h3 {
    font-size: 18px;
    margin-left: 10px;
}

table {
    font-size: 18px;
}